/* src/styles/more.css */

.more-wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

/* SAME WALLPAPER AS HOME */
.more-bg {
  background-image: url("https://storage.123fakturera.se/public/wallpapers/sverige43.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.more-main {
  padding-top: 150px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}

/* WHITE BOX */
.more-card {
  background: white;
  width: 60%;
  padding: 40px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.more-title {
  color: red;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

.more-buttons {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.more-btn {
  background: #2ecc71;
  color: white;
  padding: 14px 30px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease;
}

.more-btn:hover {
  background: #28b765;
}
