.top-header {
  width: 100%;
  height: 70px;
  background: #1e90ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  color: white;
}

.header-left {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 12px;
}

.user-info .user-name {
  font-size: 18px;
  font-weight: 600;
}

.user-info .company-name {
  font-size: 14px;
  opacity: 0.8;
}

.flag-icon {
  width: 28px;
  margin-left: 10px;
}
